*{
    margin: 0;
    padding: 0;
}
body{
    background:  url(../img/Trump.png)  center top/100% no-repeat,#FCF9F5;


height: 100%;
       }

.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container_header{
    max-width: 1440px;
    margin: 0 auto;


}
.menu{
    display: flex;
    justify-content: space-between;
    margin: 33px 71px 0px 49px;
}

.menu ul{
    list-style: none;
}
.menu ul li{
    display: inline;
    padding:  10px;
    color: white;
}

