html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background: #FCF9F5;
    font-family: 'Rubik', sans-serif;


    height: 100%;
}

img {
    width: 100%;
    height: auto;
}

header {

    padding-top: 33px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container_header {
    max-width: 1320px;
    margin: 0 auto;

}

.menu_row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}

.menu_row ul {
    list-style: none;
    ;
}

.menu_row ul li {
    display: inline;
    padding-right: 40px;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 23px;

    font-family: 'Poppins', sans-serif;


    color: rgba(255, 255, 255, 0.65);
}

.content_wrapper {
    max-width: 1350px;
    margin: 0 auto;

}

.start_block {
    background: url(../img/Trump.png) no-repeat top;
    background-size: 100%;
    height: 100vh;

}

.btn_purhage {
    width: 150px;
    background: #FE5933;
    border-radius: 9px;
}

.purhage_title {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 17px;

    /* identical to box height, or 138% */

    color: #FFFFFF;
}

.start_block_title {
    max-width: 772px;
    margin: 0 auto;
}

.start_block_title h1 {


    padding-top: 108px;


    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 75px;

    /* or 125% */
    text-align: center;
    color: #FCF9F5
}

.wrapper_img_start_block {

    width: 1320px;
    margin: 50px auto;

    position: relative;


}

.start_block_img {

    top: 0;
    position: absolute;
    transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    display: flex;
 justify-content: center;
    
    height: auto;



}

.slide_item {

    width: 50%;
    height: 621px;


}

.slide_item img {

  
    border-radius: 60px;


}


.wrapper_demo {
    margin-top: 130px;
}

.demo_cards {
    display: flex; 
    flex-wrap: wrap; 
    justify-content:center;

    
}
.card_desc{
    padding-top: 60px;
    text-align: center;
} 
.demo_card{
    padding: 25px;
}
